.start-container {
	margin-top: 15%;
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
}

.inside-start-container {
	text-align: left;
	width: 90%;
}

.level-checkbox {
	margin-bottom: 5px;
}

#reset-button {}

#start-button {
	color: white;
}

.options-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}